$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;
$color-blue-steel: rgba(#0d47a1, .93);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;