*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // used to make rem units easier
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-image: url("./../images/kelly-kiernan-776658-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}