/* $color-blue-steel: rgba(#0d47a1, .93); */
/* 
 0 - 600px:       Phone
 600 - 900px:     Tablet portrait
 900 - 1200px:    Tablet landscape
[1200 - 1800px]:  Normal styling
 1800px+ :        Desktop big screen

1 em = 16px
*/
/* come back to this later */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 62.5em) {
    html {
      font-size: 55%; } }
  @media (max-width: 48em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

@media (max-width: 40.625em) {
  body {
    /* background-color: $color-blue-steel; */
    background-image: linear-gradient(to right bottom, #4a148c, #6a1b9a), url("./../images/kelly-kiernan-776658-unsplash.jpg");
    background-blend-mode: overlay;
    background-size: cover;
    /* background-position: center; */ }
  .background {
    background-image: none; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

/* the one time its okay to use important because these are meant to override? */
.u-center-text {
  text-align: center !important; }

.u-margin-bottom-tiny {
  margin-bottom: 1rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.container {
  margin: 5rem 5rem 0 5rem;
  padding: 2rem; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem .3rem;
  border-radius: 10rem;
  text-decoration: none;
  color: #fff;
  border: none;
  cursor: pointer; }

.btn--red {
  background-color: #2962ff; }

.btn--blue {
  background-color: #304ffe; }

.card {
  /* perspective must be in parent element */
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
  /* need to add this to prevent container collaspe */
  height: 29rem;
  font-size: 1.3rem;
  width: 23rem; }
  .card__container {
    display: flex;
    justify-content: center; }
  .card__side {
    height: 29rem;
    transition: all 1.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.85);
    border-radius: 3rem;
    overflow: hidden; }
    .card__side--front {
      background-image: linear-gradient(to right bottom, #4a148c, #5643fa); }
    .card__side--back {
      transform: rotateY(-180deg);
      background-image: linear-gradient(to right bottom, #4a148c, #5643fa);
      /* &--1 {
       
      } */ }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 16rem; }
    .card__picture--1 {
      background-image: url("./../images/profolio-images/big-burger.png"); }
    .card__picture--2 {
      background-image: url("./../images/profolio-images/lobster-nebula-1920628_1920.jpg"); }
    .card__picture--3 {
      background-image: url("./../images/profolio-images/cold-liquid-bar-foam-celebration-beverage-495781-pxhere.com.jpg"); }
    .card__picture--4 {
      background-image: url("./../images/profolio-images/alcohol-alcoholism-ale-background-bar-beer-1457325-pxhere.com.jpg"); }
    .card__picture--5 {
      background-image: url("./../images/profolio-images/blur-book-stack-books-590493.jpg"); }
    .card__picture--6 {
      background-image: url("./../images/profolio-images/depositphotos_52458995-stock-photo-global-finance.jpg"); }
  .card__heading {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.8rem;
    position: absolute;
    top: 11rem;
    right: 3.5rem;
    color: #fff;
    text-align: center;
    width: 66%; }
  .card__heading--span {
    padding: .25rem 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(to right bottom, rgba(86, 67, 250, 0.85), rgba(26, 35, 126, 0.85)); }
  .card__text {
    color: #fff;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    padding: 1rem;
    font-size: 1.5rem; }
    .card__text p {
      font-weight: 700;
      margin-bottom: .5rem; }
  .card__side ul {
    list-style: none;
    margin: 0 auto; }
  .card__details {
    font-size: 1.5rem;
    color: #fff; }
    .card__details p {
      padding: 0 3rem; }
    .card__details--container {
      display: flex;
      justify-content: center; }

.navbar {
  /* background-color: $color-blue-light; */
  height: 12vh;
  /*  &__navbarLinks:not(:last-child) {
      margin-right: 2rem;
    } */ }
  .navbar__nav {
    height: 100%;
    display: flex;
    font-size: 1.8rem;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 10rem;
    /* media query at 700px and below use jusify content space-evenly */ }
  .navbar__navbarLinks {
    list-style: none; }
  .navbar__navbarLinks:hover {
    background-color: rgba(255, 255, 255, 0.15); }
  .navbar__navbarLinks a {
    color: #fff;
    text-decoration: none;
    margin: 0 2rem;
    padding: .5rem;
    /* media query at 700px and below  remove margin and add left/right padding of .5rem */ }

@media (max-width: 1000px) {
  .navbar {
    display: flex;
    justify-content: center;
    margin: 0; } }

.background {
  background-image: linear-gradient(to right bottom, #4a148c, #6a1b9a), url("./../images/kelly-kiernan-776658-unsplash.jpg");
  background-blend-mode: overlay;
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
  height: 100vh; }

@media (max-width: 40.625em) {
  .background {
    background-image: none;
    overflow-x: hidden; } }

.home {
  font-size: 3rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50rem;
  text-align: center;
  margin: 3rem; }
  .home__description {
    font-size: 2rem; }

.about__container {
  background-color: rgba(26, 35, 126, 0.93); }

.about__header {
  font-size: 3.5rem; }

.about__info {
  /* display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2rem; */
  display: flex; }
  .about__info--pic {
    height: 25rem;
    width: 25rem;
    margin: 0 3rem 1rem 0; }
  .about__info--bio {
    font-size: 1.8rem;
    width: 75%; }

@media (max-width: 40.625em) {
  .about__header {
    text-align: center; }
  .about__info {
    flex-direction: column;
    justify-content: center; }
    .about__info--pic {
      margin-bottom: 1rem;
      float: none;
      margin: 1rem auto; }
    .about__info--bio {
      margin: auto;
      text-align: center; } }

.contact {
  height: 88vh;
  /* note to self use a function here later to subtract 100vh from navbar vh */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; }
  .contact__container {
    /* media query 1200px and below width of 75% */
    height: 45rem;
    width: 66%;
    background-color: #eee;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.85); }
  .contact__card {
    display: flex;
    align-items: center;
    justify-content: center; }
  .contact__text {
    font-size: 2.5rem;
    margin: 3rem; }
  .contact__link, .contact__link:active, .contact__link:visited {
    text-decoration: none;
    color: black;
    cursor: pointer; }
  .contact__text p {
    font-size: 1.7rem; }
  .contact__methods {
    font-size: 1.5rem; }
    .contact__methods p {
      font-weight: 700;
      text-decoration: none; }
  .contact__icon {
    font-size: 7rem;
    margin-bottom: 1rem; }
  .contact__info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    /* margin: 0 2rem;
    padding: 10rem; */ }

.skills__container {
  font-size: 1.5rem;
  background-color: rgba(26, 35, 126, 0.93); }

.skills__title {
  font-size: 2.7rem; }

.skills__skillset {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr); }

.skills__skillset i {
  font-size: 4.5rem;
  margin-bottom: 1rem; }

.skills__inProgress {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(3, 1fr); }

.skills__inProgress i {
  font-size: 4.5rem;
  margin-bottom: 1rem; }

.projects__works {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 3rem; }
