*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-image: url("./../images/kelly-kiernan-776658-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

/* the one time its okay to use important because these are meant to override? */
.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.navbar {
  /* background-color: $color-blue-light; */
  height: 12vh;
  /*  &__navbarLinks:not(:last-child) {
      margin-right: 2rem;
    } */ }
  .navbar__nav {
    height: 100%;
    display: flex;
    font-size: 1.8rem;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 10rem;
    /* media query at 700px and below use jusify content space-evenly */ }
  .navbar__navbarLinks {
    list-style: none; }
  .navbar__navbarLinks:hover {
    background-color: rgba(255, 255, 255, 0.15); }
  .navbar__navbarLinks a {
    color: #fff;
    text-decoration: none;
    margin: 0 2rem;
    padding: .5rem;
    /* media query at 700px and below  remove margin and add left/right padding of .5rem */ }

.about {
  background-color: steelblue;
  padding: 3rem;
  height: 88vh; }
  .about__header {
    font-size: 3.5rem; }
  .about__pic {
    height: 31rem;
    width: 31rem;
    margin: 0 3rem 0 0;
    float: left; }
  .about__bio {
    font-size: 1.8rem; }

.contact {
  height: 88vh;
  /* note to self use a function here later to subtract 100vh from navbar vh */
  background: steelblue;
  display: flex;
  justify-content: center;
  align-items: center; }
  .contact__container {
    /* media query 1200px and below width of 75% */
    height: 45rem;
    width: 66%;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.85); }
  .contact__card {
    display: flex;
    align-items: center;
    justify-content: center; }
  .contact__text {
    font-size: 2.5rem;
    margin: 3rem; }
  .contact__link, .contact__link:active, .contact__link:visited {
    text-decoration: none;
    color: black;
    cursor: pointer; }
  .contact__text p {
    font-size: 1.7rem; }
  .contact__methods {
    font-size: 1.5rem; }
    .contact__methods p {
      font-weight: 700; }
  .contact__icon {
    font-size: 7rem;
    margin-bottom: 1rem; }
  .contact__info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    /* margin: 0 2rem;
    padding: 10rem; */ }
