.background {
  background-image: linear-gradient(to right bottom, /* #6a1b9a */ #4a148c , /* #9933CC */ #6a1b9a), url("./../images/kelly-kiernan-776658-unsplash.jpg");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
 }