.background {
  background-image: linear-gradient(to right bottom, $color-purple, $color-purple-2), url("./../images/kelly-kiernan-776658-unsplash.jpg");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
 }