.about {

  &__container {
    background-color: $color-blue-steel;
  }
  &__header {
    font-size: 3.5rem;
  }

  &__pic {
    height: 31rem;
    width: 31rem;
    margin: 0 3rem 0 0;
    float: left;
  }

  &__bio {
    font-size: 1.8rem;
  }
}