.home {
  font-size: 3rem;
  color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50rem;
  text-align: center;
  &__header {

  }

  &__description {
    font-size: 2rem;
  }

}