.projects {
  
  &__works {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr; 
    grid-gap: 3rem;

  }

  @media (max-width: 40.625em) {
    .projects {
      &__works {
        @include responsiveGrid;
      }
    }
  }
}