.card {
  /* perspective must be in parent element */
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
  /* need to add this to prevent container collaspe */
  height: 29rem;
  font-size: 1.3rem;
  width: 23rem;
  
  &__container {
    display: flex;
    justify-content: center;
  }

  &__side {
    height: 29rem;
    transition: all 1.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 2rem rgba($color-black, .85);
    border-radius: 3rem;
    overflow: hidden;

    &--front {
      @include purpleGradient;
    }

    &--back {
      transform: rotateY(-180deg);
      @include purpleGradient;
      /* &--1 {
       
      } */
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    height: 16rem;
    

    &--1 {
      background-image: url("./../images/profolio-images/big-burger.png");
    }

    &--2 {
      background-image: url("./../images/profolio-images/lobster-nebula-1920628_1920.jpg");
    }

    &--3 {
      background-image: url("./../images/profolio-images/cold-liquid-bar-foam-celebration-beverage-495781-pxhere.com.jpg");
    }

    &--4 {
      background-image: url("./../images/profolio-images/alcohol-alcoholism-ale-background-bar-beer-1457325-pxhere.com.jpg");
    }

    &--5 {
      background-image: url("./../images/profolio-images/blur-book-stack-books-590493.jpg");
    }
    &--6 {
      background-image: url("./../images/profolio-images/depositphotos_52458995-stock-photo-global-finance.jpg");
     }
  }

  &__heading {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.8rem;
    position: absolute;
    top: 11rem;
    right: 3.5rem;
    color: $color-white;
    text-align: center;
    width: 66%;
  }

  &__heading--span {
    padding: .25rem 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(to right bottom, rgba($color-blue-dark, .85), rgba($color-blue-steel, .85));
  }

  &__text {
      color: $color-white;
      text-align: center;
      width: 75%;
      margin: 0 auto;
      padding: 1rem;
      font-size: 1.5rem;
    & p {
      font-weight: 700;
      margin-bottom: .5rem;
    }
  }

  &__side {
    ul {
     list-style: none;
      margin: 0 auto;
      
    } 
  }

  &__details {
    font-size: 1.5rem;
    color: $color-white;
    & p {
      padding: 0 3rem;
    }
    &--container {
      display: flex;
      justify-content: center;
    }
  }

}